[submodule "tac-case-api-client"]
	path = tac-case-api-client
	url = git@github.com:pbrane/tac-case-api-client.git
[submodule "tac-case-api-service"]
	path = tac-case-api-service
	url = git@github.com:pbrane/tac-case-api-service.git
[submodule "tac-case-api-auth-server"]
	path = tac-case-api-auth-server
	url = git@github.com:pbrane/tac-case-api-auth-server.git
